<md-tabs md-dynamic-height md-stretch-tabs="always" md-selected="1" class="live-ticker">
  <md-tab>
    <md-tab-label>
      <md-icon>format_list_numbered</md-icon>
    </md-tab-label>
    <md-tab-body>
      <iframe src="http://mobile.football.ch/fvbj/de/verein.aspx?v=1343&t=36636&ls=14074&sg=42275" height="100%"></iframe>
    </md-tab-body>
  </md-tab>

  <md-tab>
    <md-tab-label>
      <md-icon>timer</md-icon>
    </md-tab-label>
    <md-tab-body>
      <md-content layout="row" layout-align="space-around center">
        ...Resultat...
      </md-content>
      <md-content class="md-padding">
        <p></p>
        <div layout="row" layout-align="center start">
          <div flex align="right">
            <small><strong>10 Bernasconi</strong></small>
          </div>
          <div flex="15" align="center">
            <div class="circle"><md-icon style="color: darkred;">add</md-icon></div>
          </div>
          <div flex>
            <span class="bubble-right" style="display: inline-block; font-size: 0.8em;"><strong>89'</strong></span>
          </div>

        </div>
        <p></p>
        <div layout="row" layout-align="center start">

          <div flex align="right">
            <span class="bubble" style="display: inline-block; font-size: 0.8em;"><strong>45'</strong></span>
          </div>

          <div flex="15" align="center">
            <div class="circle"><strong>+2</strong></div>
          </div>

          <span flex></span>

        </div>
        <p></p>
        <div layout="row" layout-align="center start">
          <div flex>
            <div class="bubble">left<br />bubble<br />bubble</div>
          </div>

          <div flex="15" align="center">
            <div class="circle"><md-icon>cached</md-icon></div>
          </div>

          <div flex>
            <span class="bubble-right" style="display: inline-block; font-size: 0.8em;"><strong>21'</strong></span>
          </div>
        </div>

        <p></p>
        <div layout="row">
          <div flex>
            <div class="bubble">left<br />bubble<br />bubble</div>
          </div>

          <div flex="15" align="center">
            <div class="circle"><md-icon>error_outline</md-icon></div>
          </div>

          <div flex>
            <span class="bubble-right" style="display: inline-block; font-size: 0.8em;""><strong>12'</strong></span>
          </div>
        </div>
      </md-content>
    </md-tab-body>
  </md-tab>

  <md-tab>
    <md-tab-label>
      <md-icon>dialpad</md-icon>
    </md-tab-label>
    <md-tab-body>

      <section>
        <md-subheader class="md-primary">Sonntag</md-subheader>

        <div layout="row" layout-align="center center" layout-fill style="background: #e7e7e7;">
          <div flex="15" align="center">
            <span>FT</span>
          </div>
          <div flex="5" align="center" layout="column">
            <strong>2</strong>
            <span>0</span>
          </div>
          <div flex layout="column">
            <span>FCL 3. Liga</span>
            <span>FC Bern</span>
          </div>
          <md-button class="md-icon-button">
            <md-icon>notifications_none</md-icon>
          </md-button>
        </div>

        <div layout="row" layout-align="center center" layout-fill >
          <div flex="15" align="center">
            <strong>75'</strong>
          </div>
          <div flex="5" layout="column">
            <strong>4</strong>
            <span>2</span>
          </div>
          <div flex layout="column">
            <span>FCL 4. Liga</span>
            <span>FC Wabern</span>
          </div>
          <md-button class="md-icon-button">
            <md-icon>notifications_none</md-icon>
          </md-button>
        </div>

        <div layout="row" layout-align="center center" layout-fill style="background: #e7e7e7;">
          <div flex="20" align="center">
            <small>10:15</small>
          </div>
          <div flex layout="column">
            <span>FCL A-Junioren</span>
            <span>SCI Esperia</span>
          </div>
          <md-button class="md-icon-button">
            <md-icon>notifications_none</md-icon>
          </md-button>
        </div>
      </section>

      <section>
        <md-subheader class="md-primary">Heute</md-subheader>
        <div layout="row" layout-align="space-between center">
          <div flex="15" align="center">
            <span class="bubble-border" style="display: inline-block; font-size: 0.8em;"><md-icon>album</md-icon></span>
          </div>
          <div flex="5" layout="column">
            <strong>1</strong>
            <span>0</span>
          </div>
          <div flex layout="column">
            <span>FCL 3. Liga</span>
            <span>FC Bern</span>
          </div>
          <md-button class="md-icon-button">
            <md-icon>notifications_none</md-icon>
          </md-button>
        </div>

        <div layout="row" layout-align="space-between center">
          <div flex="20" align="center">
            <small>13:30</small>
          </div>
          <div flex layout="column">
            <span>FCL 4. Liga</span>
            <span>FC Wabern</span>
          </div>
          <md-button class="md-icon-button">
            <md-icon>notifications_none</md-icon>
          </md-button>
        </div>

        <div layout="row" class="md-padding" layout-align="space-between center">
          <div flex="20" align="center">
            <small>16:00</small>
          </div>
          <div flex layout="column">
            <span>FCL A-Junioren</span>
            <span>SCI Esperia</span>
          </div>
          <md-button class="md-icon-button">
            <md-icon>notifications_none</md-icon>
          </md-button>
        </div>
      </section>

      <section>
        <md-subheader class="md-primary">Morgen</md-subheader>
        <md-list layout-padding>
          <md-list-item class="md-2-line">
            <strong>FT</strong>
            <div class="md-list-item-text">
              <h4>FCL 3. Liga</h4>
              <h4>FC Bern</h4>
            </div>
          </md-list-item>
        </md-list>
      </section>

      <section>
        <md-subheader class="md-primary">Sonntag</md-subheader>
        <div layout="row" layout-align="space-between center">
          <div flex="20" align="center">
            <strong>10:15</strong>
          </div>
          <div flex layout="column">
            <span>FCL 3. Liga</span>
            <span>FC Bern</span>
          </div>
          <md-button class="md-icon-button">
            <md-icon>notifications_none</md-icon>
          </md-button>
        </div>

        <div layout="row" class="md-padding" layout-align="space-between center">
          <div flex="20" align="center">
            <strong>10:15</strong>
          </div>
          <div flex layout="column">
            <span>FCL 4. Liga</span>
            <span>FC Wabern</span>
          </div>
          <md-button class="md-icon-button">
            <md-icon>notifications_none</md-icon>
          </md-button>
        </div>

        <div layout="row" class="md-padding" layout-align="space-between center">
          <div flex="20" align="center">
            <strong>10:15</strong>
          </div>
          <div flex layout="column">
            <span>FCL A-Junioren</span>
            <span>SCI Esperia</span>
          </div>
          <md-button class="md-icon-button">
            <md-icon>notifications_none</md-icon>
          </md-button>
        </div>
      </section>

    </md-tab-body>
  </md-tab>

</md-tabs>
