.circle {
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  background: #fff;
  width: 20px;
  height: 20px;
  text-align: left;
}
.circle md-icon {
  font-size: 20px;
}
.circle strong {
  font-size: 14px;
  color: #777;
}

.bubble
{
  position: relative;
  padding: 5px;
  background: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.bubble:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  right: -5px;
  top: 7px;
}

.bubble:before
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent #fff;
  display: block;
  width: 0;
  z-index: 0;
  right: -6px;
  top: 6px;
}

.bubble-right
{
  position: relative;
  padding: 5px;
  background: #FFFFFF;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.bubble-right:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -5px;
  top: 7px;
}

.bubble-right:before
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 6px 6px 6px 0;
  border-color: transparent #fff;
  display: block;
  width: 0;
  z-index: 0;
  left: -6px;
  top: 6px;
}

.bubble-border
{
  position: relative;
  padding: 2px;
  background: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #7f7f7f;
}

.bubble-border:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -5px;
  right: -5px;
  top: 50%;
}

.bubble-border:before
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 6px 0 6px 6px;
  border-color: transparent #7f7f7f;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -6px;
  right: -8px;
  top: 50%;
}

.live-ticker md-tab-content md-content {
  background: #e7e7e7;
  height: 100%;
}
